<div class="autorize-form-wraper">
	<h3 class="title-form">
			Авторизуйтесь
			</h3>
			<form action="action.php" class="autorize" id="form_auth">
				<div class="login-field">
					<p>Логин</p>
					<input type="text" class="test_input" data-validation="name" name="login" placeholder = "Введите логин">
				</div>
				<div class="pass-field">
					<p>Пароль</p>
					<input type="password" name="pass" data-validation="pass" placeholder = "Введите пароль">
				</div>
				<div class="button-form">
					<input type="submit" value="Войти">
				</div>
			</form>
</div>


<div class="popup" id="success">
	        <div class="popup__overlay"></div>
	        <div class="popup__content">
		        <div class="popup__content-inner">
			        Вы авторизованы!
		        </div>
		        <a class="popup__close" href="#"></a>
	        </div>
        </div>

        <div class="popup" id="error">
	        <div class="popup__overlay"></div>
	        <div class="popup__content">
		        <div class="popup__content-inner">
			       <span class="error">
				   Авторизация не прошла!
			       </span>
		        </div>
		        <a class="popup__close" href="#"></a>
	        </div>
        </div>

<!-- <div class="divider"> -->
	<!-- <div class="tooltip tooltip_left"> -->
		<!-- <div class="tooltip__inner"> -->
			<!-- содержание тултипа -->
		<!-- </div> -->
	<!-- </div> -->
<!-- </div> -->

<!-- <div class="divider"> -->
	<!-- <div class="tooltip tooltip_left"> -->
		<!-- <div class="tooltip_inner"> -->
			<!-- содержание тултипа -->
		<!-- </div> -->
	<!-- </div> -->
<!-- </div> -->