<div class="contact-form-wrap">
	<form action="" class="contacts-form">
		<h3 class="title-form">
			У вас интересный проект? Напишите мне
			</h3>
			<div class="form-position-wrap">
			<div class="input-fields">
		<div class="name-field-wrap">
		    <h4 class="name-field-title">Имя</h4>
			<input type="text" class="name-field" name="name" placeholder="Как к Вам обращаться">
		</div>
		<div class="mail-field-wrap">
		 <h4 class="mail-field-title">Email</h4>
			<input type="text" class="mail-field" name="mail" placeholder="Куда мне писать">
		</div>
		</div>
		<div class="msg-field-wrap">
		 <h4 class="msg-field-title">Сообщение</h4>
			<textarea class="msg-field" name="msg" placeholder="Кратко в чем суть" ></textarea>
		</div>
		<div class="captcha-field-wrap">
		 <h4 class="captcha-field-title">Введите код, указанный на картинке</h4>
			<div class="captcha"></div>
			<input type="text" class="captcha-field" name="captcha" placeholder="Введите код">
		</div>
		<input type="submit" value="Отправить">
        <input type="reset" value="Очистить">
	
	</form>
	 </div>
</div>

