<div class="content-wraper clearfix">
	<div class="vertical-center-left">
	<a class="logo" href="index.html">
		<img src="img/logo.png" alt="Loftblog">
		<span class="logo-text">Сайт портфолио</span>
	</a>
	</div>
	<div class="vertical-center-right">
	<ul class="social-buttons">
		<li class="social-item-1">
			<a href="vk.com" class="vk">Vk</a>
		</li>
		<li class="social-item-2">
			<a href="twitter.com" class="tw">Twitter</a>
		</li>
		<li class="social-item-3">
			<a href="facebook.com" class="fc">Facebook</a>
		</li>
		<li class="social-item-4">
			<a href="git.com" class="git">git</a>
		</li>
	</ul>
	</div>
	

</div>