<div class="main-information">
	<h1 class="main-title">Основная информация</h1>
	<div class="inf-content-wrap clearfix">
		<div class="image-wrap">
			<div class="photo">
				<img src="img/photo.jpg" alt="" ></div>
		</div>
		<div class="information-wrap">
			<ul class="main-information-list">
				<li class="inform-item-1">
					<p class="name">
						<span>Меня зовут:</span>
						Пиндюк Андрей Анатольевич
					</p>
				</li>
				<li class="inform-item-2">
					<p class="age">
						<span>Мой возраст:</span>
						31 год
					</p>
				</li>
				<li class="inform-item-3">
					<p class="city">
						<span>Мой город:</span>
						Новосибирск, Россия
					</p>
				</li>
				<li class="inform-item-4">
					<p class="prof">
						<span>Моя специализация:</span>
						FRONTEND разработчик
					</p>
				</li>
				<li class="inform-item-5">
					<span>Ключевые навыки:</span>
					<ul class="skils">
						<li class="skil-item-1">html</li>
						<li class="skil-item-2">CSS</li>
						<li class="skil-item-3">javascript</li>
						<li class="skil-item-4">gulp</li>
						<li class="skil-item-5">git</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	</div>

	<div class="experience">
		<h1 class="work-experiance">Опыт работы</h1>
		<ul class="exp-list">
			<li class="exp-item-1">
				<p>
					<span>"ИП Боровицкий" - Продавец дисков</span>
					<br>Сентябрь 2005 - Август 2008</p>
			</li>
			<li class="exp-item-2">
				<p>
					<span>ООО "Системы бесопасности - Системный администратор"</span>
					<br>Июнь 2008 - Июль 2010</p>
			</li>
		</ul>
	</div>


<div class="education">
	<h1 class="educational-title">Образование</h1>
	<ul class="educational-institutions">
		<li class="edu-item-1">
			<p>
				<span>Незаконченное высшее. СПБГУ ИТМО</span>
				<br>Октябрь 2012 - по настоящее время</p>
		</li>
		<li class="edu-item-2">
			<p>
				<span>Курсы Loftschool.ru</span>
				<br>Ноябрь 2014 - по настоящее время</p>
		</li>
	</ul>
</div>