<div class="sidebar">
<ul class="main-menu">
	<li class="menu-item-1 @@about_me"><a href="index.html" class="about-me">Обо мне</a></li>
	<li class="menu-item-2  @@portfolio"><a href="portfolio.html" class="portfolio">Мои работы</a></li>
	<li class="menu-item-3 @@contacts"><a href="form-contacts.html" class="form-contacts ">Связаться со мной</a></li>
</ul>
<ul class="sidebar-contacts">
    <li class="contacts-item-1"><p>Контакты</p></li>
	<li class="contacts-item-2"><a href="mailto:a913000@gmail.com" class="email">a913000@gmail.com</a></li>
	<li class="contacts-item-3"><a href="tel:+79163196899" class="phone">+7 916 391 3000</a></li>
	<li class="contacts-item-4"><a href="skype:pin913" class="skype">pin913</a></li>
</ul>	
</div>	