<div class="portfolio-wraper">
	<h1 class="portfolio-title">Мои работы</h1>
	<ul class="my_works" id="my_works">
		<li class="work-item-1 work-item">
			<a href="#" class="site1">
					<img src="img/site1.png" alt="">
				<div class="name-hover-1 name-hover">название</div>
			
				</a>

			<p>
				<span>www.site.ru</span>
				Информация о проекте 1 превью 2 строки...
			</p>
        
		</li>
		<li class="work-item-2 work-item">
			<a href="#" class="site2">
				<img src="img/site2.png" alt="">
				<div class="name-hover-2 name-hover">название</div>
				</a>
			<p>
				<span>www.site.ru</span>
				Информация о проекте 1 превью 2 строки...
			</p>
		</li>
		<li class="work-item-3 work-item">
			<a href="#" class="site3 site">
				<img src="img/site3.png" alt="">
				<div class="name-hover-3 name-hover">название</div></a>
			<p>
				<span>www.site.ru</span>
				Информация о проекте 1 превью 2 строки...
			</p>
		</li>
		<li class="work-item-4 work-item">
			<a href="#" class="site4 site">
				<img src="img/site4.png" alt="">
				<div class="name-hover-4 name-hover">название</div></a>
			<p>
				<span>www.site.ru</span>
				Информация о проекте 1 превью 2 строки...
			</p>
		</li>
		<li class="work-item-5">
		<div class="add_project" id="add_prj" >
			<img src="/img/add.png"  alt="">
			<p>Добавить проект</p>

		</div>
		</li>
	</ul>
</div>
<!--<div class="hover-link"><div class="name-hover">название</div></div>-->

